* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

caption {
  display: none;
}

nav {
  float: left;
  width: 30%;
  height: auto; 
  background: #ccc;
  padding: 20px;
  margin-right: 3%;
}

article {
  float: left;    
  padding: 20px;
  width: 65%;
  /* background-color: #f1f1f1; */
  height: auto; 
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin-left: 5px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 5px 5px;
  border-radius: 7px;
  cursor: pointer;
  width: 80%;
  border: none;
  margin: 5px;
}

.submit,.cancel {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

.submit:hover, button:hover {
  background-color: #45a049;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  table-layout: fixed;
}

td {
  width: 10%;
}

.row th {
  display: none;
}

th {
  padding: 5px 15px 5px 15px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .col-25, .col-75,.submit, .cancel, article, nav {
    width: 100%;
    margin: 3px;
    height: auto;
    margin-bottom: 5%;
  }

 

  .table thead {
    display: none;
  }

  .table {
      border: none;
  }

  .table, .table td {
    display: block;
    width: auto;
  }
  .table tr {
    margin-bottom: 10%;
  }

  .table tbody tr td {
    text-align: right;
    position: relative;
  }

  .table td::before {    
    position: absolute;
    left: 0;
    width: 50%;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }

  .table, .table tbody, .table th, .table td, .table tr { 
      display: block; 
  }
    
    
  .table td {          
      border-bottom: 1px solid #eee; 
      position: relative;
      padding: 5% 5% 5% 50%;
  }


  .table td:before { 
      position: absolute;
      width: 75%; 
      padding-right: 10px; 
  }
  
  .table td:nth-of-type(1):before { padding-left: 10%; content: "ID"; }
  .table td:nth-of-type(2):before { padding-left: 10%; content: "E-Mail"; }
  .table td:nth-of-type(3):before { padding-left: 10%; content: "First Name"; }
  .table td:nth-of-type(4):before { padding-left: 10%; content: "Last Name"; }
  .table td:nth-of-type(5):before { padding-left: 10%; content: "Phone No"; }
  .table td:nth-of-type(6):before { padding-left: 10%; content: "Date of Birth"; }
  .table td:nth-of-type(7):before { padding-left: 10%; content: "Gender"; }
  .table td:nth-of-type(8):before { padding-left: 10%; content: "Actions"; }
}
